*.egg-info
*.egg
*.pyc
*.db
*.bak
.installed.cfg
bin/
develop-eggs/
downloads/
eggs/
parts/
*~
fcgi.port
.project
.pydevproject
download-cache/

.pydevproject

/static/*
/media/*
.DS_Store

.idea/
dist/
build/
